/* Name styling */
h1.name {
  font-family: 'Antonio', sans-serif;
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 0.65; 
  font-weight: bold;
}

@media (max-width: 600px) {
  h1.name {
    font-size: 4rem;  
    line-height: 1.2;  
  }
}

.logo-row {
  align-items: center; 
}

.headshot-img {
  margin: 2rem auto 1rem auto;
}

.tagline {
  text-align: center;
  font-family: 'TT Bricks Trial', sans-serif;
  font-style: italic;
  font-size: 1.4rem;
  color: #ffbbea;   
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-style: italics;
  background-color: #000001;
  border-radius: 0.25rem;
}



/* Links */
a {
  color: #0072b1; /* linkedin blue */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:visited {
  color: #0e577f;
}

a:hover {
  color: #C0737A;
  text-decoration: underline;
}