/* Mobile nav bar */
.title-bar,
.title-bar .menu-icon {
  background-color: #000001;
}
.title-bar .menu-icon::after {
  background: #ffbbea;
  box-shadow: 0 0.4375rem 0 #ffbbea, 0 0.875rem 0 #ffbbea, 0 0.875rem 0 #ffbbea;
}

/* Expanded nav bar */
.top-bar,
.top-bar .menu{
  background-color: #000001;
  border: 0;
  box-shadow: none;
}

/* nav bar titles */
.title-bar-title{
   color: #ffbbea;
}

.top-bar .menu li.menu-text {
  color: #ffffff;
}


/* Links to other pages */
.top-bar .menu a {
  color: #ffbbea;
  font-weight: 700;
}

/* Hover links */
.top-bar .menu a:hover {
  background-color: #ffbbea;
  color: #000001;
  border-radius: 0.25rem;
}
